#tree {
    width: 100%;
    height: 100%;
    background-image: 
        /* linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), */
        url('/mil_bg_org.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#tree .boc-node {
    border-radius: 12px;
}


